
body {
  background-color: steelblue;
}
h1 {
  color: black;
  text-align: center;
}


p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: black;
}

li a:hover {
  background-color: steelblue;
  color: black; 
}


.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px;
  font-size: 30px;
}


.header {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: crimson;
}

.item4 {
  grid-column: 1 / span 2;
  grid-row: 3;
  background-color: dodgerblue;
}

.aside {
  grid-column: 3;
  grid-row: 3 / span 2;
  background-color: gold;
}

.article{
  grid-column: 1 / span 2;
  grid-row: 4;
  background-color: darkred;
}

.nav{
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: turquoise;
}

.footer {
  grid-column: 1 / span 3;
  grid-row: 6;
  background-color: green;
}
